nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a5ad9;
    border: 3px solid #3a5ad9;
    border-radius: 10px;
    height: 90vh;
    row-gap: 50px;
    padding: 5px;
}
.logo{
    width: 100px;
}
.logo img{
    width: 100%;
}
.liens{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.lien{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.lien:hover{
    background: #dde6ed;
    color: #3a5ad9;
}